* {
  box-sizing: border-box; /* allows us to tell the browser how to measure our elements.  Now the width property includes content, padding, and border, instead of just the content*/
}

body {
	color: #033048;
  	font-family: 'Roboto', sans-serif;
	margin: 0;
	display: grid;
	grid-template-columns: 20% 50% 30%;
	grid-template-rows: 100px 500px 100px;
	grid-template-areas: "a a a"
						 "b c d"
						 "e e e"
}

header {
	grid-area: a;
	display: flex;
	flex: 1;
	justify-content: space-between;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	color: white;
}

h1 {
  color: white; 
  margin-left: 60px; 
  padding: 30px 0 0 0;
  font-weight: 900;
  font-size: 40px;
}

#logo {
	width: 20%;
	height: 60%;
	align-items: center;
	display: flex;

}

nav {
	width: 40%;
	

}

ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	align-items: center;
	height: 100%;
	margin: 0;
}

li {
	flex: 1;
}

nav a {
	color: white; 
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
}

#left {
	grid-area: b;  
	text-align: left;
	list-style-type: none;
	padding: 5px 0 0 0;
	margin: 20px;

}

#left ul {
	display: block;
}


#left li a {
	text-decoration: none;
	font-size: 12px;
	color: #033048;
}

section#center {
	grid-area: c;
}

p {
	padding: 10px 0 0 0;
	font-size: 12px;


}

h2 {
	padding: 10px 10px 0 0;
	font-weight: bold; 
 	font-size: 20px;
}

h3 {
	font-size: 15px;
	font-weight: bold; 
	padding: 10px 0 0 0;
}

h4 {
	padding: 10px 0 0 0; 
	font-size: 12px;
	font-style: italic;
}


aside {
	grid-area: d;

}

aside div{
	display: flex;
	align-items: center;
}

.image {
	width: 250px;
	padding: 20px 10px 20px 10px;
}


footer {
	grid-area: e;
	display: flex;
	align-items: center;
	background: rgb(242,244,246);
	font-weight: bold;
	font-size: 9px;
	width: 100%;
	flex-direction: column;
	
}

footer h1{
	 color: rgb(113,122,128);
	 text-align: center;
	 margin: 0;
}

